<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Users</title>

</head>
<body>
    <h1>Users</h1>

    <div>
        {% if users_list %}
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </thead>

            {% for user in users_list  %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO ACCESS RECORDS FOUND</p>
        {% endif %}
    </div>
</body>
</html>